main {
    display: flex;
}

aside {
    width: 50em;
    
    overflow-y: scroll;
    height: 90vh;
    border: 1px solid grey;
    padding: 0.5em;
    margin-left: 1em;
}

aside img {
    width: 100%;
}

